.header-area {
  background-color: rgba(0, 0, 0, 0.1);
}

.portfolio-title .start {
  text-align: start !important;
  padding-left: 10%;
}

.portfolio-title .end {
  text-align: end !important;
  padding-right: 10%;
}

.section-heading h2 {
  font-size: 40px;
}

.portfolio-area {
  overflow: hidden;
}


@media only screen and (max-width: 767px) {
  .portfolio-title .start {
    padding-left: 0;
  }

  .portfolio-title .end {
    padding-right: 0;
  }
}

.hero-slides .single-hero-slide .hero-slides-content .btn:hover {
  font-size: 1rem;
  color: black;
}

.hero-slides .single-hero-slide .hero-slides-content p {
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

@media only screen and (max-width: 767px) {
  .about-us {
    height: auto !important;
    padding-bottom: 100px !important;
  }

  .section-heading h2 {
    font-size: 30px;
  }
}

.line-1 {
  line-height: 1.4;
  margin-bottom: 10px;
}


.single_gallery_item img{
  width: 100%;
  height: 220px !important;
  object-fit: cover;
}