.header-area {
  background-color: rgba(0, 0, 0, 0.1);
}

.portfolio-title .start {
  text-align: start !important;
  padding-left: 10%;
}

.portfolio-title .end {
  text-align: end !important;
  padding-right: 10%;
}


@media only screen and (max-width: 767px) {
  .portfolio-title .start {
    padding-left: 0;
  }

  .portfolio-title .end {
    padding-right: 0;
  }
}

.hero-slides .single-hero-slide .hero-slides-content .btn:hover {
  font-size: 1rem;
  color: black;
}

.hero-slides .single-hero-slide .hero-slides-content p {
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

@media only screen and (max-width: 767px) {
  .about-us {
    height: auto !important;
    padding-bottom: 100px !important;
  }
}